#start-screen, #game-screen {
  background-color: lavender;
  width: 500px;
  height: 500px;
  overflow: hidden;
}

@font-face {
  font-family: DiloWorld;
  src: url(fonts/dilo-world.ttf);
}

#welcome-msg {
  font-family: DiloWorld;
  font-size: 60px;
  color:navy;
  text-align: center;
  margin-top: 100px;
}

#start-btn {
  position: absolute;
  width: 150px;
  height: 75px;
  background-color: palegoldenrod;
  top: 250px;
  left: 175px;
  text-align: center;
  color: navy;
  cursor: pointer;
}

#grid {
  width: 100%;
  height: 100%;
  position: relative;
}

.row {
  width: 500px;
  height: 50px;
}

/* .sq-div {
  width: 25px;
  height: 50px;
} */

.bubble {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.red {
  background-color: indianred;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: yellowgreen
}

.blue {
  background-color: cornflowerblue;
}

#shooter {
  position: relative;
  bottom: 50px;
}

#shooter-bubble {
  position: relative;
  left: 225px;
  bottom: 0px;
}

#trajectory {
  box-shadow: inset 0 0 2px navy;
  width: 2px;
  height: 600px;
  position: relative;
  left: 249px;
  bottom: 625px;
  transform-origin: 1px 600px;
}

