@font-face {
  font-family: Diskun;
  src: url(./fonts/Diskun-epmp.ttf);
}

@font-face {
  font-family: Warioland;
  src: url(./fonts/Warioland4chmc-VApe.ttf);
}

@font-face {
  font-family: BB;
  src: url(/fonts/BarcadeBrawlRegular-plYD.ttf);
}

@font-face {
  font-family: Edensor;
  src: url(/fonts/Edensor-Free.otf);
}

@font-face {
  font-family: Little Miss;
  src: url(./fonts/LittleMissLoudonBold-VGO9l.ttf);
}
/*-----  OVERALL  -----*/
body {
  background: rgb(234, 248, 253);
}

/*-----  START SCREEN  -----*/
#start-screen, #game-screen{
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 500px;
  height: 600px;
}

#start-screen {
  background: url(./images/start-screen.png);
}

#welcome-msg {
  font-family: BB;
  font-size: 23px;
  color:rgb(59, 59, 59);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 28px;
}

#intro {
  font-family: Warioland;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  margin-top: 0px;
  font-size: 18px;
  letter-spacing: 1px;
}

#start-btn, #htp-btn {
  width: 200px;
  height: 75px;
  font-size: 15px;
  font-family: BB;
  color: rgb(59, 59, 59);
  background: white;
  border: none;
  border-radius: 15px;
  margin: 85px 150px 0 150px;
  cursor: pointer;
  letter-spacing: 1px;
  line-height: 20px;
}

#htp-btn {
  margin: 15px 150px 0 150px;
  font-size: 12px;
}

#htp {
  width: 375px;
  height: 375px;
  background-color: white;
  position: absolute;
  top: 100px;
  left: 62.5px;
  border-radius: 20px;
}

#htp-img {
  width: 375px;
  height: 375px;
  position: absolute;
  top: 30px;
}

#x-btn {
  position: absolute;
  left: 335px;
  top: 10px;
  background: white;
  border: none;
  cursor: pointer;
  font-family: Warioland;
  font-size: 28px;
}

/*-----  GAME SCREEN -----*/
#game-screen {
  background: url(./images/game-screen.png);
}

#grid {
  width: 100%;
  height: 100%;
  position: relative;
}

.row {
  width: 500px;
  height: 50px;
}

.red, .yellow, .green, .blue, .orange, .purple {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.red {
  background: url(./images/strawberry.png);
}

.yellow {
  background: url(./images/lemon.png);
}

.green {
  background: url(./images/pear.png);
}

.blue {
  background: url(./images/blueberry.png);
}

.orange {
  background: url(./images/peach.png);
}

.purple {
  background: url(./images/grape.png);
}

#score {
  position: absolute;
  top: 542px;
  right: 35px;
  font-family: BB;
  color: white;
  font-size: 18px;
  text-align: right;
}

/*-----  SHOOTER -----*/
#shooter {
  position: relative;
  bottom: 50px;
}

#shooter-bubble {
  position: relative;
  left: 225px;
  bottom: 0px;
}

#trajectory {
  box-shadow: inset 0 0 3px rgb(59, 59, 59);
  width: 2px;
  height: 600px;
  position: relative;
  left: 249px;
  bottom: 725px;
  transform-origin: 1px 600px;
}

/*-----  WIN/LOSE MESSAGE -----*/
.msg {
  width: 500px;
  height: 600px;
  position: absolute;
  font-family: Warioland;
  color: rgb(59, 59, 59);
  font-size: 35px;
  text-align: center;
  line-height: 100px;
  z-index: 10;
  background: rgb(0, 0, 0, .5);
}

#win {
  background: rgb(256, 256, 256, .3);
}

#lose-img {
  position: absolute;
  right: 100px;
  top: 162.5px;
}

.end-x {
  position: absolute;
  top: 172.5px;
  right: 110px;
  background-color: white;
  border: none;
  font-family: warioland;
  z-index: 11;
  font-size: 20px;
  cursor: pointer;
}

.result-msg {
  position: absolute;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  left: 183px;
  top: 197px;
  z-index: 11;
}
